<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/app.css" />
        <link rel="stylesheet" href="/showstyle.css">
		<%- include('../partials/head.ejs', {pageName: 'Edit Review'}) %>
		
	  
		<title>Express Blog</title>
	</head>
	<body>
		<header>
			<h1 class="name"> <%=Car.name %></h1>
		</header>
		<main>
			<ul class="poster">
				 <img class="pic" src=" <%= Car.img %>" >
				<li class="description"> <%= Car.description %></li>
			</ul>
			<div class="buttons">
			<section class="delete">
				<form action="/cars/<%= Car._id %>?_method=DELETE" method="POST">
					<input type="submit" class="btn" value="Delete" />
				</form>
			</section>
			<section class="edit">
				<a href="/cars/<%= Car._id %>/edit"> <input type="submit" class="btnn" value="Edit" > </a>
			</section>
		</div>
		</main>
	</body>
</html>